[submodule "modules/erc20"]
	path = modules/erc20
	url = https://github.com/maple-labs/erc20
[submodule "modules/erc20-helper"]
	path = modules/erc20-helper
	url = https://github.com/maple-labs/erc20-helper
[submodule "modules/contract-test-utils"]
	path = modules/contract-test-utils
	url = https://github.com/maple-labs/contract-test-utils
